@using Api.Models

@{
    ViewData["Title"] = "Add Blood";
    var branch = ViewData["Branch"] as BranchDto;
}

<div class="row">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-4">
        <h3>@branch?.Name</h3>
    </div>
</div>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Donor Name</label>
                <select id="donorSelect" class="form-control form-select"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Blood Type</label>
                <input disabled id="bloodType" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Donation Date</label>
                <div>@DateTime.Now.ToString("dd.MM.yyyy HH:mm")</div>
            </div>
            <div class="form-group">
                <label class="control-label">Units</label>
                <input disabled id="unitsInput" class="form-control" />
            </div>
        </div>
    </div>
</form>


@section scripts {
	<script>
		$(document).ready(function () {

			$('#donorSelect').select2({
				minimumInputLength: 1,
				ajax: {
					url: '/api/search/donorsbyname',
					processResults: function (data) {
						var d = $.map(data, function (obj) {
							obj.text = obj.name;
							return obj;
						});
						return {
							results: d
						};
					}
				}
			});

			$('#donorSelect').on('select2:select', function (e) {
				var data = e.params.data;
				$('#bloodType').val(data.bloodType);

			});
			
		});

	</script>

}